$primary-color: #1a7ced;
$secondary-color: #9462f94b;
$disabled-color: #cbcbcb;
$error-color: #dd4a3d;

$border-color: #cbcbcb;
$bg-color: #f7f8f9;

$content-color: #1d2226;
$content-secondary-color: #919191;
